/* http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0;	border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

th, thead { text-align: left; }
img { display: block; border: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: '';	content: none; }

/*------------------------------------------------------------------------------
	Basic Styles
------------------------------------------------------------------------------*/
@font-face {
    font-family: SegoeUI;
    src: url(../fonts/segoeui.ttf);
}


/* HTML Tags */
body {
    font-family: SegoeUI;
    padding: 0px;
}

.none {
    display: none;
}

#microsoft_nav {
    height: 48px;
    width: 100%;
    padding: 0px;
    border: 1px solid #eeeeee;
}

#microsoft_logo {
    width: 108px;
    height: 100%;
    padding: 10px 0px;
    margin: 0px 20px 0px 50px;
    float: left;
}

#microsoft_logo a img{
    width: 108px;
    height: 23px;
}

#microsoft_store{
    height: 48px;
    text-align: center;
    vertical-align: 40px;
    padding: 0px 10px;


}

.microsoft_nav{
    height: 48px;
    float: left;
    padding: 0px 20px;
}

.microsoft_nav_right{
    float: right;
}

.microsoft_nav span, .microsoft_nav form {
    position: relative;
    top: 10px;
    text-decoration: none;
    color: #515151;
}

.microsoft_nav:hover{
    background-color: #f4f4f4;
}


ul ul {
    padding: 0 0 0 2em;
}

.microsoft_nav_menu{
    float: left;
    background-color: #f4f4f4;
    display: none;
    clear: both;
    border: 1px solid lightgray;
}
.microsoft_nav_menu li a {
    display: block;
    width: 239px;
    padding: 17px 24px;
    color: #515151;
}

.microsoft_nav_menu li a:hover{
    background-color: #dcdcdc;
}

.microsoft_nav_menu li a span {
    float: right;
}

#microsoft_store_nav {
    position: absolute;
    top: 48px;
    left: 179px;
}

#microsoft_products_nav{
    position: absolute;
    top: 48px;
    left: 250px;
}


.sub-menu {
    position: absolute;
    display: none;
    background-color: #dddddd;
}

#microsoft_store_submenu .sub-menu{
    top: 48px;
    left: 420px;
    height: 547px;
}

#microsoft_products_submenu .sub-menu{
    top: 48px;
    left: 490px;
    min-height: 272px;
}

.sub-menu li a {
    display: block;
    width: 300px;
    padding: 17px 24px;
    color: #515151;
}

.sub-menu li a:hover {
    background-color: #d0d0d0;
}

#microsoft_store_nav li:hover .sub-menu {
    display: block;
}

#microsoft_products_nav li:hover .sub-menu{
    display: block;
}


#microsoft_store_submenu, #microsoft_products_submenu {
    float: left;
}
#microsoft_store_submenu ul, #microsoft_products_submenu ul {
    display: none;
}

#microsoft_nav_form {
    padding: 0px;
    margin: 0px;
}

#microsoft_nav_form form{
    margin: 3px;
    border: 1px solid #a0a0a0;
}

#microsoft_nav_form form input{
    width: 244px;
    height: 36px;
    border: none;
    float: left;


}
#microsoft_nav_form form:focus{
    border: none;

}

#microsoft_nav_form form button{
    width: 33px;
    height: 33px;
    background-image: url(../images/search_icon.png);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
    border: none;


}


