/* http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0;	border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

th, thead { text-align: left; }
img { display: block; border: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: '';	content: none; }

/*------------------------------------------------------------------------------
	Basic Styles
------------------------------------------------------------------------------*/
@font-face {
    font-family: SegoeUI;
    src: url(../fonts/segoeui.ttf);
}


/* HTML Tags */
body {
    font-family: SegoeUI;
    padding: 0px;
}

.none {
    display: none;
}

#microsoft_nav > .row{
    height: 48px;
    width: 100%;
    padding: 0px;
    border: 1px solid #eeeeee;
}

#microsoft_logo {
    width: 108px;
    height: 23px;
    margin: 10px;
    margin-left: 70px;
}

#microsoft_store{
    height: 48px;
    text-align: center;
    vertical-align: 40px;
    padding: 0px 10px;

}

#microsoft_store span{
    position: relative;
    top: 10px;
    height: 48px;
}

#microsoft_store:hover{
    background-color: #e5e5e5;
}

ul ul {
    padding: 0 0 0 2em;
}

#main_nav {
    border: 1px solid #fbfbfb;
    position: absolute;
    left: 198px;
    top: 48px;
    float: left;
    background-color: #f4f4f4;
    display: none;

    border: 1px solid lightgray;
}

#main_nav > li {

}
#main_nav li a {
    display: block;
    width: 239px;
    padding: 17px 24px;
    color: #515151;
}

#main_nav li a:hover {
    background-color: #dcdcdc;
}

#main_nav li a span{
    float: right;
}

.sub-menu {
    height: 547px;
    position: absolute;
    top: 48px;
    left: 437px;
    display: none;
    background-color: #dddddd;
}

.sub-menu li a {
    display: block;
    width: 300px;
    padding: 17px 24px;
    color: #515151;
}

.sub-menu li a:hover {
    background-color: #d0d0d0;
}

#main_nav li:hover .sub-menu {
    display: block;
}


#flyouts {
    float: left;
}
#flyouts ul {
    display: none;
}

#flyouts ul li {
}